/*GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe600;
}


a{
    text-decoration: none;
    color: #000;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border: solid;
}

/*--------------MENU----------------*/

header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 05px 5px #303030;
    padding: 50px;
    border-radius: 5px;
    width: 70vw;
    height: 10vh;
    background-color: #fff;
}


.p-logo{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.5em;
}

.menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}

.menu li a{
    display: block;
    text-decoration: none;
    margin-left: 50px;
    color: #000;
}

/*--------------CONTEUDO--------------*/

.content-containner{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.content-text{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 30px;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.title-introducing{
    font-size: 3.2em;
}

.title-introducing span{
    font-weight: 100;
}

.content-text > p{
    text-align: center;
    font-size: 1.3em;
}


.subtitle-content-text{
    font-size: 1.5em;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.btn-download, .btn-viw-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: solid #000 3px;
}

.smartphone{
    display: flex;
    width: 500px;
    height: 650px;
    background-image: url(../assets/img/smartphone.png);
    background-size: cover;
}

/*--------------FOOTER--------------*/

.dot-containner{
    display: flex;
    gap: 20px;
    border: solid;
}

.dot{
    width: 20px;
    height: 20px;
    border: solid #fff;
    border-radius: 50%;
    cursor: pointer;
}