/*GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fae52cec;    
}

.containner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

/*MENU*/

.nav-menu{
    display: flex;
    align-items: center;
    padding: 30px;
    width: 80vw;
    height: 15vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #42424269;
}

.logo-umbrella{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/assets/icons/guarda-chuva.png);
    background-repeat: no-repeat;
    background-size: 100px;
    width: 190px;
    height: 100px;
}

/*CONTEÚDO*/

.containner-content{
    display: flex;
    align-items: center;
    height: 600px;
    gap: 20%;
}

.content{
    width: 600px;
    height: 400px;
    background-color: cornsilk;
}

.cellphone{
    width: 600px;
    height: 400px;
    background-color: cornsilk;
}

.dots{
    width: 200px;
    height: 70px;
    background-color: cornsilk;
}