/*GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dac612ec;    
}

.containner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

/*MENU*/

.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80vw;
    height: 15vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #42424269;
}

.link-menu{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 10%;
    list-style: none;
}

.link-menu a{
    text-decoration: none;
}

/*CONTEÚDO*/

.containner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: row;
}

.content{
    border: solid;
    width: 600px;
    height: 400px;
    background-color: cornsilk;
}

.cellphone{
    border: solid;
    width: 600px;
    height: 400px;
    background-color: cornsilk;
}

.dots{
    border: solid;
    width: 200px;
    height: 70px;
    background-color: cornsilk;
}